body {
  color: white;
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: sans-serif;
}
.contenedor {
  padding: 0;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0;
  background-color: #333333;
  font-size: 14px;
  text-align: center;
  width: 96%;
}
.pie {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}
img, div, body, a {
  margin: 0;
  padding: 0;
}
div {
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  padding-top: 0;
  margin-top: 42px;
  font-size: 20px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #de3600;
  text-decoration: none;
}

table, td, tr {
  margin: 0;
}
.borde_vertical {
  border-left: dashed #de3600 1px;
  padding-left: 20px;
  text-align: justify;
  width: 500px;
}
p.enlace {
  color: white;
  padding: 0px;
}
img {
  border: none !important;
}
.fondo_blanco {
  color: black;
  background-color: white;
  padding:10px;
}
p.creditos {
  color: gray;
  background-color: black;
  text-align: center;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-size: 8.5px;
  font-family: sans-serif;
}
p.agenda {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: sans-serif;
}
.agenda br {
  margin-bottom: 14px;
}